:root {
  --ff-poppins: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin:0;
  font-family: var(--ff-poppins);
  box-sizing: border-box;
}
body {
  font-size:12px;
  user-select:none;
}
.spacer {
  margin:0.5em;
  padding:0.5em;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card-title {
  text-align: center;
  font-size:2em !important;
}
/* Pokemon Detail */
.pokemon {
  display:flex;
  justify-content:center;
  flex-direction: column;
  height:100vh;
  position:fixed; 
  top:0;
  width: 100%;
}
.pokemon_info {
  display:flex;
  gap:2em;
  align-items: center;
  width: 100%;
}
.pokemon_img {
  width: 14em;
  object-fit:cover;
  border: 1px solid black;
}
.pokemon_name span {
  font-weight:700;
}
.pokemon_stats {
  margin-top: 2em;
}
.pokemon_stats h1 {
  font-weight: 700;
}
.pokemon_title {
  font-weight: 700;
  margin-top: 0.5em;
}
.back_btn {
  width:fit-content;
}
